* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    height: 100hv;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.button {
    text-align: center;
/*     width: 50px; */
/*     height: 50px; */
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  min-height: 15px;
  width: 65px; 
}

.textview {
    text-align: right;
    width: 217px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
}

.main {/*
    width: 500px;
    position: absolute;
    top: 30%;
    left: 50%;*/
    /*transform: translateX(-50%) translate(-50%);*/
}

.calc-block {
   width: 300px;
   display: block;
   background: #2b2424;
   margin: 50px auto;
   border-radius: 40px;
  min-height: 400px;
  
}

.form {
    text-align: center;
    margin: 10px;
}

.table {
    margin: 20px auto;
}

p {
    text-align: left;
    margin: auto 0;
  padding: 15px 10px 10px 20px;
    color: white;
    font-size: 24px;
/*     font-family: "helvetica"; */
}

.clean {
  background-color: red;
  border-radius: 10px;
  min-height: 30px;
  width: 60px;
  font-size: 25px;
  color: #fff;
  margin: 2px 3px 10px 3px;
}


